*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*body{
    font-family: 'innter',sans-serif;
    line-height: 160%;
}

header{
    margin-top: 32px;
    height: calc(120px + 32px);
    text-align: center;
}

header div{
    transition: transform .4s;
}

header div:hover{
    transform: scale(1.1);
}


header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%,#43E7AD 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    

}

header div img{
    width: 100%;
    border-radius: 50%;

}

body{
    background-image: url(./bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

ul{
    list-style: none;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;

}
/*
    Aqui nós criamos o a caixa gradiente 
*/
section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%,#43E7AD 100%);
    padding-top:4px ;
    border-radius: 10px;
}

section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
 
section ul{
    display: flex;
    gap: 16px;

    margin-top: 24px;
}

section ul li{
    transition:transform .4s ;
}

section ul li:hover{
    transform: scale(1.1);

}

.game-list div{
    font-family: 'innter',sans-serif;
}

.game-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

.social-list-first {
    display: flex;
}

.social-list-first div p{
    margin-top: 6px;
}
.social-list-first div{
    width: 50%;
    height: 200px;
    margin: auto;
    border-radius: 0px;
    font-family: 'innter',sans-serif;
}

.social-list-first div ul{
    display: block;
    cursor: pointer;
    margin-top: 20px;
}


/*
            Animação
*/

header div{
    animation: fromtop .7s 0s backwards /*backwards  puxa as animaçãos do @Keyframes*/;
}

@keyframes fromtop{
    from{
        opacity: 0;
        transform: translateY(-30);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

main section{
    animation: frombottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .7s;
}

@keyframes frombottom{
    from{
        opacity: 0;
        transform: translateY(30);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}